@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif !important;
}

.stMarkdown>div>p,
h1,
h2,
h3 {
    font-family: "Literata", Georgia, serif !important;
}

/* Remove Top Padding */
#root>div:nth-child(1)>div>div>div>div>section>div {
    padding-top: 3rem;
}